body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.common-background {
	border: 1px solid #0766FF;
	background: #b7b9bd;
}

.Navbar {
  width: 100%;
  background: #5495FF;
  position: fixed;
}

.NavLink {
  border: 1px black;
}

.common-div {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.dividers {
  border: 1px solid #0766FF;
  background: #F2F3F4;
  margin: 20px;
  border-radius: 25px;
}

.headings {
  padding: 20px;
}

.fixed-position {
  position: fixed;
}

#footer {
  background: #5495FF;
  padding: 20px;
}

#resume {
  padding: 20px;
}

